<div class="user-profile">
  <h1><%= @user.email_address %>'s Profile</h1>

  <div class="user-details">
    <p><strong>Email:</strong> <%= @user.email_address %></p>
    <p><strong>Joined:</strong> <%= @user.created_at.strftime('%B %d, %Y') %></p>
  </div>

  <div class="user-actions">
    <% if current_user == @user %>
      <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>