<div id="<%= dom_id address %>">
  <p>
    <strong>Number:</strong>
    <%= address.number %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Post code:</strong>
    <%= address.post_code %>
  </p>

</div>
