<% content_for :title, "Editing room status" %>

<h1>Editing room status</h1>

<%= render "form", room_status: @room_status %>

<br>

<div>
  <%= link_to "Show this room status", @room_status %> |
  <%= link_to "Back to room statuses", room_statuses_path %>
</div>
